@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600);
@import url(http://fonts.googleapis.com/css?family=Raleway:600,700,800);
html, button, input, select, textarea {
	color: #222;
}
::-moz-selection {
 background: #f2c2c9;
 color: hwb(130 6% 64%);
 text-shadow: none;
}
::selection {
	background: #16a085;
	color: hwb(130 6% 64%);
	text-shadow: none;
}

#logo-img {
	margin-top: 5px; /* Adjust this value to move the image down */
    width: 300px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
}

#logo-img_2 {
	margin-top: 150px; /* Adjust this value to move the image down */
    width: 300px; /* Adjust this value as needed */
	margin-left: 0px;
    height: auto; /* Maintain aspect ratio */
}
.col-lg-4 img {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Ensures the image is centered horizontally */
    margin: 0 auto; /* Centers the image horizontally */
	margin-left: 40px; /* Adjust this value as needed */
	margin-bottom: 35px; /* Adjust this value as needed */

    max-height: 150px; /* Adjust the maximum height as needed */
}
#header_2 {
    margin-left: 100px; /* Adjust this value as needed */
}

.circular-image {
	margin-left: 0px; /* Adjust this value as needed */
	margin-top: -50px; /* Adjust this value as needed */
    width: 100%; /* Adjust the width and height to your preference */
    height: 100%;
    overflow: hidden;
    border-radius: 100%; /* Creates a circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 100%; /* Clip the image to match the circular container */
}

.content {
	margin-left: -2000px; /* Adjust this value as needed */
    padding: 180px 0px; /* Adjust as needed */
}

.ti-widget-container {
	margin-top: 0%;
	margin-left: 10%;
	width: 80%; /* 40% of the viewport width */
	max-width: 100%; /* Ensure it doesn't overflow */
	height: 100%; /* Full viewport height */
	transform-origin: center; /* Center the scaling */
}
.ti-widget-container h1{
	font-size: 35px;
	font-weight: 400;
    margin-left: 0%; /* Adjust this value as needed */
	letter-spacing: 3px;
	text-align: center;
}
#headerwrap {
	background: url(../img/food/f_8.jpg) no-repeat center top;
	margin-top: -180px;
	padding-top: 120px;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	-webkit-background-size: 10%;
	-moz-background-size: 100%;
	-o-background-size: 50%;
	background-size: 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}


#headerwrap_2 {
	background: url(../img/bg.jpeg) no-repeat center top;
	margin-top: -50px;
	padding-top: 120px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;
}	
#headerwrap_2 h1 {
	text-align: center;
	color: #ffffff;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 50x;
	font-weight: 400;
; /* Adjust this value as needed */
	letter-spacing: 3px;
}
#headerwrap_2 h2 {
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
    margin-left: 20px;
	margin-right: 20px;
; /* Adjust this value as needed */
	letter-spacing: 3px;
	overflow-wrap: break-word; /* This property allows long words to break and wrap onto the next line */
}
#headerwrap_2 p {
	color: #ffffff;
	font-size: 38px;
	font-weight: 300;
    margin-left: 0px; /* Adjust this value as needed */
	letter-spacing: 1px;
	line-height: 1; /* Adjust this value as needed */
}
#headerwrap_2 .icon {
	color: #ffffff;
	margin-top: 115px;
	padding-bottom: 30px;
	letter-spacing: 8px;
	font-size: 100px;
	font-weight: bold;
}
#headerwrap_2 .btn {
	font-weight: 500;
	font-size: 20px;
	margin: 50px 50px;
	background-color: #8ca87c;
	margin-left: 28.5%; /* Adjust this value as needed */
	color: #8ee023;
	border-radius: 0;
	color: #ffffff;
}
#headerwrap_2 .btn:hover, #headerwrap_2 .btn:focus {
	background-color:#2ca51c;
	color:#ffffff; 
	outline: 0px;
	border-radius: 0px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	margin: 3em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, #fff, #ccc, #fff);
	background-image: -moz-linear-gradient(left, #fff, #ccc, #fff);
	background-image: -ms-linear-gradient(left, #fff, #ccc, #fff);
	background-image: -o-linear-gradient(left, #fff, #ccc, #fff);
	width: 50%;
	left: 25%;
	position: relative;
	border: none;
}

img {
	vertical-align: middle;
}
 
textarea {
	resize: vertical;
}
/* ===============================================
   General styles
   ============================================== */

html, body {
	height: 100%;
}
body { 
	font-weight: 300;
	font-size: 16px;
	color: hwb(130 6% 64%);
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.4;
	font-family: 'Arial', sans-serif;
}
.logo a {
margin: 0 auto; 
display: inline-block; 
} 
.logo a img{
background:transparent;
}
.navbar-inverse {
background-color: #f5f4ee;
border-color: #f5f4ee;
padding: 0 0;
}
.navbar-inverse .navbar-nav > li > a {
color: #8ca87c;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #8ca87c;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
background-color: #8ca87c;
border-radius: 0px 0px 0px 0px;
}
.navbar-inverse .navbar-toggle {
border-color: #8ca87c;
background: #8ca87c;
}

btn_n {
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 500;
	font-size: 20px;
	margin: 0px 0px;
	background-color: #8ca87c;
	margin-left: 20px; /* Adjust this value as needed */
	margin-top: 0px; /* Adjust this value as needed */
	color: #910000;
	border-radius: 100;
	color: #c90000;
}

btn_n:hover, btn:focus {
	background-color:#2ca51c;
	color:#c00000; 
	outline: 0px;
	border-radius: 0px;
}
.tb {
display: table;
width: 100%;
}
.tb-cell {
display: table-cell;
vertical-align: middle;
}
.text-center {
text-align: center;
}


.col-md-4 {
	padding-bottom: 20px;
}

.col-md-5 {
	margin-top: 10px;
	margin-left: 15px;
}

.col-md-7 {
	margin-top: 10px;
}

.col-md-12 {
	margin-left: 30px;
}
.row {
	margin-right: 0px;
	margin-left: -15px;
	margin-bottom: -22px;
}
.modal-header {
	background: #045001;
}
.modal-header h4 {
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
}
.modal-footer {
	background: #2b2b2b;
}
.navbar-default {
	border-color: transparent;
	background-color: #f5f4ee;
}
.navbar-inverse .navbar-brand {
	font-weight: 500;
	font-size: 20px;
}
.navbar-toggle {
	border-color: transparent;
	border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #f5f4ee;
	color: white;
}

a img {
	background: white;
}
.odd a img {
	background: #f5f5f5;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Arial', sans-serif;
	font-weight: 200;
	color: #333;
}
h2 {
	font-size: 36px;
	color: #194903;
}
h3 {
	font-size: 26px;
}
/* Paragraph & Typographic */
p {
	line-height: 28px;
	margin-bottom: 20px;
	font-size: 15px;
}
p.large {
	font-size: 16px;
	margin-bottom: 50px;
}
.centered {
	text-align: center;
}
strong {
	font-weight: 700;
}
em {
	font-weight: 300;
}
pre {
	background: #ebebeb;
	border: none; 
	font-size: 16px;
	color: #666;
	padding: 20px;
	line-height: 28px;
}
small {
	font-size: 12px;
}
blockquote, blockquote p {
	line-height: 28px;
	color: #999;
	font-weight: 300;
	font-style: italic;
}
blockquote {
	position: relative;
	margin: 0 0 40px -30px;
	padding-left: 30px;
	border-left: 5px solid #3498db;
}
blockquote cite {
	position: absolute;
	bottom: -25px;
	right: 0;
	font-size: 12px;
	font-style: italic;
	color: #333;
	font-weight: 300;
}
blockquote cite:before {
	content: "-- "
}
/* Images */
.overflow-image {
	margin-top: -65px;
}
/* Links */
a {
	color: #4abcc5;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
	color: #690f05;
	text-decoration: none;
	outline: 0;
}
a:before, a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
} 
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/food/f_8.jpg) no-repeat center top;
	margin-top: -180px;
	padding-top: 120px;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	-webkit-background-size: 10%;
	-moz-background-size: 100%;
	-o-background-size: 50%;
	background-size: 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}


#headerwrap h1 {
	font-size: 70px;
	font-weight: 400;
    margin-left: 0px; /* Adjust this value as needed */
	letter-spacing: 3px;
}
#headerwrap p {
	font-size: 50x;
	font-weight: 400;
    margin-left: 20px;
	letter-spacing: 3px;
	
}
#headerwrap .icon {
	background-color: #8ca87c;
	margin-top: 115px;
	padding-bottom: 30px;
	letter-spacing: 8px;
	font-size: 90px;
	font-weight: bold;
}
#headerwrap .btn {
	font-weight: 500;
	font-size: 20px;
	margin: 50px 50px;
	background-color: #8ca87c;
	margin-left: 40px; /* Adjust this value as needed */
	color: #8ee023;
	border-radius: 0;
	color: #ffffff;
}
#headerwrap .btn:hover, #headerwrap .btn:focus {
	background-color:#2ca51c;
	color:#ffffff; 
	outline: 0px;
	border-radius: 0px;
}

.img-circle {
border-radius: 50%;
border: 1px solid #E89A2F;
padding: 5px;
background: #fff;
}
#services {
	background: #FFFFFF;
	padding: 100px 0;
	text-align: center;
}
#services .fa {
	color: #E89A2F;
}
#services p {
	text-align: center;
}
.hero-section{
background-color: #E89A2F;
padding:60px 0
}
.hero-section p {
color: #fff;
line-height: 30px;
margin: 0;
padding: 0;
font-size: 18px;
}
.reservation-btn{
background:#000;
border-radius:0px;
padding:12px 20px;
color:#fff;
}
.reservation-btn:hover{
color:#000;
background:#fff;
}
#team {
	background: #000000;
	padding: 100px 0;
}
#team H4 {
	padding-top: 10px;
	color: #898989;
}
#team p.large {
	margin-top: 60px;
	margin-bottom: 40px;
}
#team .fa {
	width: 30px;
	height: 30px;
	margin: 0 3px;
	border-radius: 100%;
	font-size: 15px;
	line-height: 30px;
	outline: 0;
	color: #fff;
	background-color: #E89A2F;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#team .fa:hover {
	background-color: #ffbf00;
}
#portfolio {
	width: 100%;
	font-size: 15px;
	background: #f5f4ee;
	padding: 50px 0;
}
#portfolio h2{
	color: #000000;
	margin-left: 20px;
; /* Adjust this value as needed */
	font-size: 38px;
	font-weight: 400;
	letter-spacing: 3px;
}

#portfolio .img-responsive {
	width: 60%;
	margin-left: 25%;
}
#portfolio .btn-default {
	border: 0;
}
#contact {
	width: 100%;
	background:#f5f4ee;
	padding: 50px 0;
	text-align: center;
}

#contact h1{
	color: #000000;
	margin-left: 20px;
; /* Adjust this value as needed */
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 3px;
}

#contact h2{
	color: #000000;
	margin-left: 20px;
; /* Adjust this value as needed */
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 3px;
}
#contact h3{
	color: #000000;
	margin-left: 20px;
; /* Adjust this value as needed */
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 3px;
}


#contact .form {
	padding: 30px 0;
}
#contact .fa {
	color: #f3cc23;
	margin-bottom: 10px;
}
#contact .btn {
	font-weight: 500;
	font-size: 20px;
	margin: 50px 50px;
	background-color: #8ca87c;
	margin-left: 42px; /* Adjust this value as needed */
	color: #8ee023;
	border-radius: 0;
	color: #ffffff;
}
#contact .btn:hover, #contact .btn:focus {
	background-color:#2ca51c;
	color:#ffffff; 
	outline: 0px;
	border-radius: 0px;
}
#greywrap {
	background: #f5f5f5;
	margin-top: 0px;
	padding: 50px 0;
	border-bottom: 1px solid #eee;
	text-align: center;
}
#greywrap .btn {
	font-family: 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin: 0 25px;
	background-color: #fff;
	border-color: #e2e2e2;
	color: #888;
	border-bottom: 0;
	letter-spacing: 1px;
}
#greywrap .btn:hover, #greywrap .btn:focus {
	margin: 0 25px;
	background-color: #fff;
	border-color: #a5cdd5;
	border-bottom: 0;
	outline: 0px;
	color: #a5cdd5;
}
#greywrap h2 {
	font-size: 30px;
}
#greywrap .callout {
	margin-bottom: 20px;
}
#greywrap p {
	font-size: 30px;
}
#greywrap .fa {
	font-size: 18px;
	margin-right: 4px;
}
#footerwrap {
	background: #080808;
	padding: 25px 0 15px 0;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
#footerwrap span.copyright {
	line-height: 40px;
	color: #888;
	font-weight: 400;
}
#footerwrap span.copyright a {
	color: #888;
	border-bottom: 1px dotted;
}
#footerwrap span.copyright a:hover {
	color: #ffbf00;
	text-decoration: none;
}
#footerwrap h4 {
	color: white;
}
ul.social-buttons {
	margin: 0;
}
ul.social-buttons li a {
	font-size: 22px;
outline: 0;
color: #183b18;
margin-right: 12px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	color: #035c0a;
} 

.white h1 {
	color: #999;
}
.white p {
	padding-top: 15px;
} 

.grid figure {
	margin: 0;
	position: relative;
	border: 1px solid #eee;
}
.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background-color: rgba(216, 169, 27, 0.81);
}
.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 5px;
	color: #fff;
	font-weight: 700;
	text-align: left;
	letter-spacing: 1px;
	font-size:24px;
}
.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background: #2f2f2f;
	color: #F27E00;
	font-size: 13px;
	background: #fff;
}
 
.overlay figure {
	overflow: hidden;
}
.overlay figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .overlay figure:hover img, .overlay figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}
.overlay figcaption {
	height: 100%;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .overlay figure:hover figcaption, .overlay figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.overlay figcaption a {
position: absolute;
/* top: 10px; */
bottom: 10px;
right: 30px;
background: #000;
color: #fff;
border-radius: 0px;
padding: 6px 15px;
}
.div-pattern2{
background:url('../img/div-pattern2.png') top left repeat-x;
height:30px;
width:100%;
display:block;
}
.div-pattern{
background:url('../img/div-pattern.png') top left repeat-x;
height:30px;
width:100%;
display:block;
}
/* ==========================================
   MEDIA QUERIES
   ======================================== */
@media screen and (max-width:1050px), screen and (max-device-width:1050px) {
body .header {
	background-attachment: scroll;
}
}

@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {
.header {
	background-attachment: scroll;
}
}

@media screen and (max-width:769px) {
#headerwrap h1 {
	font-size: 80px;
}
#headerwrap p {
	font-size: 30px;
	line-height: 38px;
}
}
@media screen and (max-width:480px) {
#headerwrap h1 {
font-size: 40px;
}
#headerwrap p {
margin-top:30px;
font-size: 20px;
}
.navbar-nav{
float: right !important;
width: 100%;
}
#team img{
margin-top:30px;
}
}
